<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Kokovo, a rare breeding farm for Swedish Gotland ponies.  Featuring bed and breakfast.  Located in Harrison County, Kentucky.">
    <meta name="author" content="Homer White">

    <link rel="icon" href="images/favicon.jpg">
    <title><%- siteTitle %></title>
    <link href="https://fonts.googleapis.com/css?family=Enriqueta|Sorts+Mill+Goudy" rel="stylesheet">
    <script src="https://use.fontawesome.com/85f68023f3.js"></script>
    <script src="js/custom.js"></script>
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>
    <div class="pageWrapper">
        <!-- supageWrapper div enables code for sticky footer -->
        <div class="subpageWrapper">
            <%- partial("partial/_header") %>
            <%- partial("partial/_navbar") %>
            <%- yield %>
        </div>
        <%- partial("partial/_footer") %>
    </div>
</body>

</html>