<!DOCTYPE html>
<html lang="en">


<%- partial("partial/_head") %>

<%
     const onPonyPage = current.source.includes("pony");
     const onBlogIndex = current.source == "blog-index";
     let contentClass = "content";
     if ( onPonyPage ) {
         contentClass = "pony-content";
     }
     if ( onBlogIndex ) {
         contentClass = "blog-content";
     }
%>

<body>
    <%- partial("partial/_header") %>
    <div class="wrapper">
        <div class="<%- contentClass %>">
            <%- partial("partial/_navbar") %>
            <%- yield %>
            <% if ( !onPonyPage  && !onBlogIndex ) { %>
                <%- partial("partial/_sidebar") %>
            <% } %>
        </div>
    </div>
    <%- partial("partial/_footer") %>
</body>

<%- partial("partial/_scripts") %>


</html>