<!DOCTYPE html>
<html lang="en">

<%- partial("../partial/_head") %>

<body>
    <%- partial("../partial/_header") %>
        <div class="wrapper">
            <div class="content">
                <%- partial("../partial/_navbar") %>
                <article class="main">
                    <div class="event-text">
                        <%- yield %>
                    </div>
                </article>
                <%- partial("../partial/_sidebar") %>
            </div>
        </div>
    <%- partial("../partial/_footer") %>
</body>

<%- partial("../partial/_scripts") %>

</html>