<%
var allTags = [];
for (var slug in public.blog.posts._data) {
    var postTags=public.blog.posts._data[slug].tags.split(',');
    allTags = allTags.concat(postTags);
}
uniqueTags = allTags.filter(function(item, pos) {
    return allTags.indexOf(item) == pos;
});
uniqueTags.sort();

var counts = {};

for (var i = 0; i< allTags.length; i++) {
    var tag = allTags[i];
    counts[tag] = counts[tag] ? counts[tag]+1 : 1;
}
%>

<div class="blog-index-side">
    <h2>Tags</h2>
    <ul class="taglist">

        <% for (i=0; i < uniqueTags.length; i++) { %>

        <li><span class="tag" onclick='filterTag("<%= uniqueTags[i] %>")'><%= uniqueTags[i] %></span>(<%= counts[uniqueTags[i]] %>)</li>

        <% }; %>

    </ul>
</div>

<% function excerpt(content) {
    if(content.indexOf("<!-- more -->") == -1) return content;
    else return content.split("<!-- more -->")[0];
} %>

<div class="blog-index-main">
    <h2>Posts</h2>
    <div class="postlist">
        <% for (var slug in public.blog.posts._data){ %>
        <div class="post", data-tags="<%= public.blog.posts._data[slug].tags %>">
            <h3><a href="posts/<%= slug %>.html"><%= public.blog.posts._data[slug].title %></a></h3>
            <div class="undertitle">
                <span class="date"><%= public.blog.posts._data[slug].date %></span>
                <% var tags = public.blog.posts._data[slug].tags.split(",");
                for (var i = 0; i < tags.length; i++) { %>
                <span class = "tag" onclick='filterTag("<%= tags[i] %>")'><%= tags[i] %></span>
                <% }; %>
                <div class="post-excerpt">
                <%- excerpt(partial("posts/" + slug)) %>
                    <span><a class="blog-link" href="posts/<%= slug %>.html">Read More &hellip;</a></span>
                </div>
            </div>
        </div>
        <% }; %>
    </div>
</div>