<%
let initialPath = "";
let path = current.path;
if ( path.includes("posts") || path.includes("events") ) {
    initialPath = "../";
}
%>

<aside class="sidebar">
    <div>
    <h2>Recent Posts</h2>
    <ul>
        <%  let count = 0;
            for( var slug in public.posts._data ) {
                count++;
                if ( count > postListLimit) { break };
            %>
        <li><a href="<%- initialPath %>posts/<%= slug %>.html"><%= public.posts._data[slug].title %></a></li>
        <%
            }; %>
    </ul>
    </div>

     <div>

    <%  const now = new Date();
        let someEventInRange = false;
            for( var slug in public.events._data ) {
                let eventTime = new Date(public.events._data[slug].date);
                let diff = (eventTime - now) / (1000 * 3600 * 24);
                let inRange = diff >= 0 && diff <= 100;
                if (inRange) {
                    someEventInRange = true;
                };
            };
        if ( someEventInRange ) {
    %>
    <h2>Upcoming Events</h2>
    <%
        };
    %>

    <ul>
        <%  for ( var slug in public.events._data ) {
                let eventTime = new Date(public.events._data[slug].date);
                let diff = (eventTime - now)/(1000*3600*24);
                let inRange = diff >= 0 && diff <= 100;
                if ( inRange ) {
        %>
        <li><a href="<%- initialPath %>events/<%= slug %>.html"><%= public.events._data[slug].name %></a>
        <br><%= public.events._data[slug].date%></li>
        <%
                };
            };
        %>
    </ul>

     </div>

    <div>
    <h2>Other News</h2>
    <p>Check out
        <a href="<%- initialPath %>pony-purebred-sales.html#newest-pony">Kokovoko X-Man</a>,
    our newest pony!</p>
    </div>

</aside>