<nav>
    <ul id="navlist">

        <li><a class="primary-navlink <%- current.source == 'index' && current.path.length == 1 ? 'active-link' : '' %>" href="/index.html">Home</a></li>
        <li><a class="primary-navlink <%- current.source == 'farm' ? 'active-link' : '' %>" href="#">The Farm</a></li>
        <li>
            <div class="dropdown">
                <a class="dropbtn">Gotlands</a>
                <ul class="dropdown-content">
                    <li><a href="/about-gotlands.html">About</a></li>
                    <li><a href="/ponies/purebred-sales.html">Purebred Sale List</a></li>
                    <li><a href="/ponies/sport-sales.html">Sport Pony List</a></li>
            </ul>
        </div>
        </li>
        <li>
            <div class="dropdown">
                <a class="dropbtn">B&B</a>
                <ul class="dropdown-content">
                    <li><a href="/carriage-house-retreat-glimpse.html">A Glimpse</a></li>
                    <li><a href="#">Things to Do</a></li>
                    <li><a href="#">Contract</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <a class="dropbtn">Handspinning</a>
                <ul class="dropdown-content">
                    <li><a href="#">Supplies</a></li>
                    <li><a href="#">Related Products</a></li>
                </ul>
            </div>
        </li>
        <li><a class="primary-navlink <%- current.source == 'equipment' ? 'active-link' : '' %>" href="/equipment.html">Equipment</a></li>
        <li><a class="primary-navlink <%- current.source == 'events' ? 'active-link' : '' %>" href="#">Events</a></li>
        <li><a class="primary-navlink <%- (current.source == 'index' && current.path[0] == 'blog') ? 'active-link' : '' %>" href="/blog/index.html">Blog</a></li>
        <li><a class="primary-navlink <%- current.source == 'contact' ? 'active-link' : '' %>" href="/contact.html">Contact</a></li>
    </ul>
</nav>