
<aside class="sidebar">
    <h2>Recent Posts</h2>
    <ul>
        <%  let count = 0;
            for( var slug in public.blog.posts._data ) {
                count++;
                if ( count > postListLimit) { break };
            %>
        <li><a href="/blog/posts/<%= slug %>.html"><%= public.blog.posts._data[slug].title %></a></li>
        <%
            }; %>
    </ul>

    <%  const now = new Date();
        let someEventInRange = false;
            for( var slug in public.events._data ) {
                let eventTime = new Date(public.events._data[slug].date);
                let diff = (eventTime - now) / (1000 * 3600 * 24);
                let inRange = diff >= 0 && diff <= 100;
                if (inRange) {
                    someEventInRange = true;
                };
            };
        if ( someEventInRange ) {
    %>
    <h2>Upcoming Events</h2>
    <%
        };
    %>

    <ul>
        <%  for ( var slug in public.events._data ) {
                let eventTime = new Date(public.events._data[slug].date);
                let diff = (eventTime - now)/(1000*3600*24);
                let inRange = diff >= 0 && diff <= 100;
                if ( inRange ) {
        %>
        <li><a href="/events/<%= slug %>.html"><%= public.events._data[slug].name %></a>
        <br><%= public.events._data[slug].date%></li>
        <%
                };
            };
        %>
    </ul>

    <h2>Other News</h2>
    <p>More information goes here.</p>
    <p>And maybe another remark.</p>
</aside>